 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

nav{
  display: flex; width: 100vw;
  justify-content: center; align-items: center;
  height: 10vh; background-color: rgb(158, 159, 161);

  & a{color: white; font-size: 1.5rem; padding: 15px;}
}

main div{
  display: flex; width: 100vw;
  flex-direction: column; justify-content: center;
  align-items: center; height: 100vh;
}

main div p{
  width: 150vh;
  font-size: 20px;
  text-align: center;
}

main div button{
  width: 80vh;
  background-color: rgb(198, 199, 199);
}

footer{
  display: flex; width: 100vw; justify-content: center;
  align-items: center; height: 10vh;
  background-color: rgb(0, 0, 0);
}

.fotosBike{
  height: 50vh; width: 80vh;
}

h1{
  text-align: center;
}

.nomeIntegrante p{
  font-size: 20px;
  text-align: center;
}


